mixin header-sidebar ()
    header.header-sidebar
        button.header-sidebar__button.header-sidebar__button_back.hover
        button.header-sidebar__logo
        button.header-sidebar__button.header-sidebar__button_search.hover