mixin offer ()
    aside.offer()
        p.offer__text
            |Все цены указаны с учетом НДС.
            |Стоимость ремонта указана на единичную услугу.
            | Для получения коммерческого предложения на постоянное обслуживание, оставьте заявку.
        a(href="#").offer__link Получить коммерческое предложение