mixin brand ()
    - const images = []
    - images.push('./img/brands/lenovologo.svg')
    - images.push('./img/brands/samsunglogo.svg')
    - images.push('./img/brands/applelogo.svg')
    - images.push('./img/brands/viewsoniclogo.svg')
    - images.push('./img/brands/boshlogo.svg')
    - images.push('./img/brands/hplogo.svg')
    - images.push('./img/brands/acerlogo.svg')
    - images.push('./img/brands/sonylogo.svg')
    - images.push('./img/brands/lenovologo.svg')
    - images.push('./img/brands/applelogo.svg')

        +swiper(class="brand")
            +swiper-wrapper(class="brand__items")
                each src in images
                    +swiper-slide(class="brand__item")
                        a(href="#")
                            img(src=src)
            +swiper-pagination
        a.brand__show-more(href="#") Показать все
        a.brand__hidden-more.hidden(href="#") Скрыть все