@use '../../scss/vars';
@use '../../scss/global' as global;

.brand {

  &__items {
    margin: 0;
    padding: 0 0 0 16px;
    list-style-type: none;

    @media (min-width: vars.$min-size-md) {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
      grid-row-gap: 8px;
      grid-column-gap: 16px;
      padding: 24px;
      box-sizing: border-box;
    }

    @media (min-width: vars.$min-size-ld) {
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      padding: 32px;
      box-sizing: border-box;
    }
  }

  &__item {
    background: #FFFFFF url("../img/go.svg") no-repeat right 16px center;
    width: 240px;
    height: 72px;
    display: grid;
    align-items: center;
    padding-left: 8px;

    @media (min-width: vars.$min-size-md ) and (width < vars.$min-size-ld){
      width: 224px;
      height: 72px;
      &:nth-child(n + 7) {
        display: none;
      }
    }

    @media (min-width: vars.$min-size-ld) {
      width: 224px;
      height: 72px;
      &:nth-child(n + 9) {
        display: none;
      }
    }
  }

  &__show-more {
    @include global.show-more;
    display: none;
    background: url("../img/show-more.svg") no-repeat;

    @media (min-width: vars.$min-size-md) {
      display: block;
    }
  }

  &__hidden-more {
    @include global.show-more;
    background: url("../img/hide.svg") no-repeat;
  }
}

