mixin langlist-sidebar ()
        ul.langlist-sidebar
            li.langlist-sidebar__lang.hover
                a(href="#").langlist-sidebar__lang--active RU
            li.langlist-sidebar__lang.hover
                a(href="#") EN
            li.langlist-sidebar__lang.hover
                a(href="#") CH
