include ../blocks/header/header.pug
include ../blocks/title/title.pug
include ../blocks/service-menu/service-menu.pug
include ../blocks/company-info/company-info.pug
include ../blocks/chapter-title/chapter-title.pug
include ../blocks/swiper/swiper.pug
include ../blocks/brand/brand.pug
include ../blocks/service/service.pug
include ../blocks/price/price.pug
include ../blocks/offer/offer.pug
include ../blocks/footer/footer.pug
include ../blocks/sidebar/sidebar.pug
include ../blocks/header-sidebar/header-sidebar.pug
include ../blocks/menu-sidebar/menu-sidebar.pug
include ../blocks/footer-sidebar/footer-sidebar.pug
include ../blocks/langlist-sidebar/langlist-sidebar.pug
include ../blocks/feedback/feedback.pug
include ../blocks/feedback-chat/feedback-chat.pug
include ../blocks/feedback-call/feedback-call.pug
include ../blocks/button-action/button-action.pug
include ../blocks/agreement-info/agreement-info.pug
