mixin footer ()
    footer.footer()
            p.footer__text © 2019 CPS </br> Разработано командой Apesong </br>
            p.footer__text Политика конфиденциальности </br>
            p.footer__text Информация, размещенная на данной странице, не является публичной офертой </br>