mixin swiper
    .swiper(class= attributes.class)
        block

mixin swiper-wrapper
    ol.swiper-wrapper(class= attributes.class)
        block

mixin swiper-slide
    li.swiper-slide(class= attributes.class)
        block

mixin swiper-pagination
    .swiper-pagination