mixin agreement-info ()
    aside.agreement-info
        span Нажимая “отправить”, вы даете согласие на
        a(href="#").agreement-info--doc  обработку персональных данных
        span и соглашаетесь с нашей
        a(href="#").agreement-info--doc  политикой конфиденциальности.