mixin footer-sidebar ()
    footer.footer-sidebar
        .footer-sidebar-contact
            a.footer-sidebar-contact__icon--call.hover(href="#" id="call")
            a.footer-sidebar-contact__icon--chat.hover(href="#" id="chat")
            a.footer-sidebar-contact__icon--profile.hover(href="#")
        a.footer-sidebar__mail.hover(href="mailto:mail@cps.co") mail@cps.co
        a.footer-sidebar__phone.hover(href="tel:8 800 890 8900")= "8 800 890 8900"
