@use '../../scss/vars';

.feedback-call {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  row-gap: 8px;


  &__title {
    background: url("../img/highlight.svg") no-repeat left center;
    padding-left: 24px;
    align-self: center;
  }

  &__lable {
    display: grid;
    width: calc(100% - 64px);
    align-self: center;
    justify-self: center;
  }

  &__input {
    height: 48px;
    width: 100%;
    padding-left: 16px;
    border-radius: 8px;
    justify-self: center;
    border: 1px solid #EAEAEA;
    font-family: "TT Lakes", serif;
    font-size: 16px;
  }


  &__send {
    margin: 16px 32px 16px 0;
  }

}




