mixin feedback-call ()
    aside.feedback-call
        h2.feedback-call__title Заказать звонок
        label.feedback-call__lable
            input(type="number", placeholder="Телефон").feedback-call__input
        +agreement-info()
        +button-action("ОТПРАВИТЬ")(class="feedback-call__send")