$font: "TT Lakes", serif;
$background-body-color: #F8F8F8;
$title-color: #7E7E82;
$text-color: #1B1C21;
$background-slide-color: #FFFFFF;
$color-active: #7E7E82;
$color-attention: #FF3E79;
$margin-left-min: 16px;
$min-size-md: 768px;
$min-size-ld: 1120px;
